@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body { 
	font-family: 'Poppins', sans-serif; 
}
.grid-page {
	background:rgb(63, 63, 63);
    display: grid;
    position:relative;
    width:100vw;
    padding: 50px;
    gap:10px;
}
.grid-section {
	gap:10px;
}
